header {
  font-size: 1.3rem;
  border-bottom: 1px solid gainsboro;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

header.scrolled {
  background-color: green;
  color: white;
}

.header-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.site-nav > ul {
  display: flex;
}

.site-nav > ul > li {
  margin: 20px;
  padding: 12px;
  cursor: pointer;
}

.signup-button {
  background-color: rgb(38, 202, 154);
  color: white;
  border-radius: 4px;
}

.signup-button a {
  color: white;
}

#categories-menu {
  background-color: white;
  position: sticky;
  width: 100%;
  visibility: hidden;
  transform: rotateX(90deg);
  transition: transform 0.4s ease;
  border-bottom: 1px solid gainsboro;

  /* burası sıkıntılı */
  top: 116px;
}

#categories-menu.scrolled {
  visibility: visible;
  transform: rotateX(0);
}

.categories-menu-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: darkgrey;
}

.categories-menu-container ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.categories-menu-container .dropdown h3 {
  cursor: pointer;
  padding: 15px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  padding: 10px 0;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: gainsboro;
}

li.dropdown:hover .dropdown-content {
  display: block;
}

.profile-link {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu {
  display: flex;
  align-items: center;
}

.dropdown-menu-button {
  padding: 0 !important;
}

.dropdown-menu-icon {
  font-size: 16px;
  height: auto;
}

.user-avatar {
  width: 32px; /* Avatarın genişliği */
  height: 32px; /* Avatarın yüksekliği */
  border-radius: 50%; /* Yuvarlak hale getir */
  background-color: var(--color-primary); /* Arka plan rengi, mavi */
  color: white; /* Yazı rengi, beyaz */
  display: flex; /* Flexbox kullanarak içeriği hizala */
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  font-size: 16px; /* Harf büyüklüğü */
  margin-right: 8px;
  font-weight: var(--fs-300); /* Harf kalınlığı */
}
