<aside class="sidebar">
  <ul class="sidebar-list">
    <li [routerLink]="['/dashboard']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">home</mat-icon> BenYaparım
    </li>
    <li [routerLink]="['/orders']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">shopping_cart</mat-icon>
      Siparişlerim
    </li>
    <li class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">request_quote</mat-icon> Özel
      Alıcı İsteklerim
    </li>
    <li class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">list</mat-icon> Listelerim
    </li>
    <li class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">account_balance_wallet</mat-icon>
      Bakiyem
    </li>
  </ul>

  <h3 class="sidebar-subheading">Freelancer</h3>
  <ul>
    <li class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">work_outline</mat-icon>
      Freelancer Ol
    </li>
  </ul>
</aside>
