<aside class="sidebar">
  <ul class="sidebar-list">
    <li [routerLink]="['/dashboard']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">home</mat-icon>
      BenYaparım
    </li>
    <li [routerLink]="['/orders']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">shopping_cart</mat-icon>
      Siparişlerim
    </li>
    <li [routerLink]="['/kimyapar']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">request_quote</mat-icon>
      Kim Yapar
    </li>
    <li [routerLink]="['/orders']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">list</mat-icon>
      Listelerim
    </li>
    <li [routerLink]="['/wallet']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">account_balance_wallet</mat-icon>
      Cüzdan
    </li>
    <li [routerLink]="['/freelancerOl']" class="sidebar-list-item">
      <mat-icon class="sidebar-list-item-icon">work_outline</mat-icon>
      Freelancer Ol
    </li>
  </ul>
</aside>
