<header [class.scrolled]="isScrolled">
  <div class="header-container">
    <h1 class="logo"><a routerLink="/dashboard">benyaparım</a></h1>

    <nav class="site-nav">
      <ul>
        <mat-menu #menu="matMenu">
          <button routerLink="/profile" mat-menu-item>
            <mat-icon>account_circle</mat-icon>Profile
          </button>
          <button routerLink="/settings" mat-menu-item>
            <mat-icon>settings</mat-icon>Settings
          </button>
          <mat-divider></mat-divider>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>Log Out
          </button>
        </mat-menu>

        <li *ngIf="isLoggedIn; else loggedOut">
          <div class="dropdown-menu">
            <div *ngIf="userProfile?.name" class="user-avatar">
              {{ userProfile.name[0].toUpperCase() }}
            </div>
            <button
              class="dropdown-menu-button"
              mat-flat-button
              [matMenuTriggerFor]="menu"
            >
              <span></span>
              {{ userProfile?.name }}
              <span>
                <mat-icon class="dropdown-menu-icon"
                  >expand_more</mat-icon
                ></span
              >
            </button>
          </div>

          <!-- <div class="profile-menu">
            <a class="profile-link" (click)="toggleDropdown()">
              <mat-icon>account_circle</mat-icon>
              <span class="username">Berkan Bilgin</span>
              <mat-icon class="deneme1">keyboard_arrow_down</mat-icon>
            </a>
            <div *ngIf="dropdownOpen" class="profile-dropdown">
              <ul>
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/settings">Settings</a></li>
                <hr class="profile-dropdown-line" />
                <li><a (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div> -->
        </li>
      </ul>
    </nav>
  </div>
</header>

<app-categories-menu></app-categories-menu>

<ng-template #loggedOut>
  <li>Explore</li>
  <!-- Buranın rengi sıkıntılı burayı da düzelt. a elementinin -->
  <li><a routerLink="/login">Login</a></li>
  <li class="signup-button"><a routerLink="/signup">Signup</a></li>
</ng-template>
