<section id="home">
  <div class="home-container">
    <h1>
      Yetenekli freelancerlarla <br />
      <span>daha çok iş yapın.</span>
    </h1>
    <p>
      Bionluk, yetenekli freelancerların kendilerine uygun işletmeler ve
      girişimlerle <br />
      buluştuğu, topluluk mantığıyla ​i​şleyen ​​özgürlükçü bir çalışma
      platformudur.
    </p>
    <button>Hadi Başla</button>
    <h2>Neden <span>Freelancer ?</span></h2>
    <p>Geleceğin "çalışma" modeliyle bugünden tanışın.</p>
  </div>
</section>

<p class="deneme"></p>
